/*Om de styling te reseten. Hierdoor geen standaard margins en paddings*/
* {
  margin: 0;
  padding: 0;
}



/******************/
/*Algemene styling*/

body {
  display: flex;
  flex-direction: column;
  color: black;
  background-color: white;
}

.dark-modebody {
  color: white;
  background-color: black;
}

.dark-modelink a{
  color: white;
}

h1 , h2 , h3 , p {
  font-family: sans-serif;
}



/*Het menu. Dit stuk code over een menu heb ik door de opdracht over een inklapbaar menu te maken*/
nav {
  background-color: #E2001A;

  position:absolute;
	left: 0;
	top: 0;
	bottom: 0;
  z-index: 2;
	
  /*Hiermee zorg je ervoor dat de width 3em kleiner wordt dan de volledige width (100% dus)*/
	width: calc(100% - 3em);
  /*Dit is de maximale width van de nav*/
	max-width: 20em;
  /*Dit zorgt ervoor dat de gehele nav buiten het scherm komt, op de x as op -100%*/
	transform: translateX(-100%);

  transition: 0.5s;
  }

/*Als er op de button wordt geclickt (in javascript staat de code), dan komt de nav op x as op 0% te staan, ofterwel volledig in beeld*/
nav.toonNav {
  transform: translateX(0%);
}

nav h2 button:nth-of-type(1) {
  position: absolute;
	margin: 0; 
  padding: 0.3em;
  
	
	background-color: #E2001A;
  color: white;
	
	top: 0;
	left: 100%;

	text-decoration: none;
  border: none;
	font-size: 0.8em;
	font-weight: bold;
	text-align: center;
	line-height: 2em;
	writing-mode: horizontal-tb;
	
	cursor: pointer;
}

nav ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
}

nav li a{
  display: block;

  font-family: sans-serif;
  font-size: 1.2em;
  color: white;
  text-decoration: none;

  padding: 14px 16px;
}

li:hover {
  color: black;
}

nav button:nth-of-type(2) {
  color: blue;
}



/*Algemene styling voor de footer*/

footer {
  display: flex;
  flex-direction: row;

  background-color: #333333;

  margin-top: 1.6em;
}

footer li {
  margin-top: 1em;
}

footer li a {
  font-size: 0.8em;
  font-family: sans-serif;
  font-weight: bold;
  color: white;
  text-decoration: none;

  margin-left: 1em;
}

footer ul {
  list-style-type: none;
  justify-content: top;
  align-items: left;

  width: 100%;
  height: 12.5em;
}



/*Door 'display: block' en de margin op auto komt het logo in het midden*/
.logo {
  display: block;

  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  width: 8.38em;
  height: 3.2em;
}

/*Dit is een animatie op het logo bovenaan. Als je er over heen hovert dan draait het logo 1x rond*/
/*Dit stukje code over animaties heb ik door de opdracht over een animatie te maken*/
@keyframes logo-animation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(1turn);
  }
}

.logo:hover {
  animation-name: logo-animation;
  /* leker kort voor een dramatisch effect */
  animation-duration: 1s;
}



/************/
/*Homepagina*/

/*section 1*/

.home section:nth-of-type(1) article {
  position: relative;
  height: 17.5em;
  z-index: 1;
}

.home section:nth-of-type(1) article a {
  position: absolute;
  bottom: 0;

  font-family: sans-serif;
  font-size: 0.9em;
  font-weight: 900;
  color: black;
  text-decoration: none;

  text-align: center;
  margin-top: 1.3em;
  margin-bottom: 0.8em;
}

.home section:nth-of-type(1) article a img {
  position: absolute;
  top: 0;

  width: 100%;
  margin-top: 0.7em;
}



/*section 2*/

.home section:nth-of-type(2) {
  display: grid; 
  grid-template-columns: repeat(4,1fr);
  grid-gap: 1.25em;

  margin: 0.5em;
}

.home section:nth-of-type(2) article{
  grid-column:span 2;
}

.home section:nth-of-type(2) article img{
  width: 100%; 
  margin-top: 1.3em;
}

/*Styling van de h2*/
.home section:nth-of-type(2) article a{
  font-size: 0.8em;
  font-family: sans-serif;
  font-weight: 600;
  text-decoration: none;
  color: black;
}



/*section 3 & 6*/

/*De h1*/
.home section:nth-of-type(3) a, 
.home section:nth-of-type(6) a {
  font-size: 1.2em;
  font-family: sans-serif;
  font-weight: 900;
  color: white;
  background-color: red;
  text-decoration: none;

  padding: 0.5em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

/*Hierdoor komt de h1 in het midden*/
.home section:nth-of-type(3) article, 
.home section:nth-of-type(6) article{
  display: flex;
  justify-content: center;
}

/*Hier heb ik een animatie op de article met h1 gezet. Hierdoor wordt ie een stukje groter als je er overheen hovert*/
/*Dit stukje code over animaties heb ik door de opdracht over een animatie te maken*/
@keyframes a-animation {
  0% {
    transform:scale(1);
  }
  50% {
    transform:scale(1.2);
  }
  100% {
    transform:scale(1);
  }
}

.home section:nth-of-type(3) article:hover, 
.home section:nth-of-type(6) article:hover{
  animation-name: a-animation;
  animation-duration:1s;
}



/*Section 5*/
iframe {
  width: 100%;
  height: 19.7em;
  margin-top: 1.5em;
}




/*section 4 & 7*/

/*Hierdoor komen de articles in een column te staan*/
.home section:nth-of-type(4), 
.home section:nth-of-type(7) {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr));
}

/*Hierdoor komt de inhoud an de articles in een rij te staan*/
.home section:nth-of-type(4) article, 
.home section:nth-of-type(7) article {
  display: grid;
  grid-template-columns: repeat(2, 50%); 

  margin: 0.5em
}

.home section:nth-of-type(4) img, 
.home section:nth-of-type(7) img {
  width: 100%;
  order: 0;
}

/*Door order 1 te doen, komt als eerst de img (want die is 0) en daarna de a*/
.home section:nth-of-type(4) article a, 
.home section:nth-of-type(7) article a{
  font-family: sans-serif;
  font-size: 0.85em;
  font-weight: 600;
  color: black;
  text-decoration: none;

  margin-left: 0.6em;
  order: 1;
}



/**************/
/*De artikelen*/

.kat p, 
.ameland p {
  font-family: sans-serif;
  font-size: 1em;
}

.kat section, 
.ameland section {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.kat section:nth-of-type(1) h1, 
.ameland section:nth-of-type(1) h1{
  font-size: 1.2em;
}

.kat section h2 , .ameland section h2{
  font-size: 1.1em;
}

.kat section:nth-of-type(1) img, 
.ameland section:nth-of-type(1) img{
  width: 100%;
  height: 10em;
  margin-top: 1em;
}



